html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#mapView, #sceneView {
  padding: 0;
  margin: 0;
  height: 20em;
  width: 45em;
  float: left;
  margin: 0px 25px;
}

#header {
  margin-left: 25px;
  padding-bottom: 5px;
}

/* Ejercicio 21 -22 */
.esri-view .esri-directions {
  position: fixed;
  right: 15px;
}

.esri-view .esri-component.esri-attribution {
  position: fixed;
}

/* Ejercicio 24 */
.action {
  color: #0000ff;
  cursor: pointer;
  text-decoration: underline;
}
