<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Tutorial de ArcGIS JavaScript: Crear una aplicación de inicio de JavaScript</title>
    <link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css" />
    <link rel="stylesheet" href="../css/style.css"/>
  </head>
  
  <body>
    <div id="header">
      <h1>Agregar, editar y eliminar funciones</h1>
      
      <small>Cree una aplicación que pueda editar datos de forma interactiva en una capa de entidades. (<a target="_blank" href="https://developers.arcgis.com/labs/javascript/add-edit-and-remove-features/" title="Add, edit, and remove features">ver</a>)</small>
    </div>
    
    <div id="mapView"></div>
    
    <div id="sceneView"></div>
    
    <script src="https://js.arcgis.com/4.15/"></script>
    <script src="../js/15.js"></script>
  </body>
</html>