<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Tutorial de ArcGIS JavaScript: Crear una aplicación de inicio de JavaScript</title>
    <link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css" />
    <link rel="stylesheet" href="../css/style.css"/>
  </head>
  
  <body>
    <div id="header">
      <h1>Obtener una ruta y direcciones</h1>
      
      <small>Cree una aplicación para encontrar la ruta óptima y las direcciones para varias paradas con el servicio ArcGIS Route. (<a target="_blank" href="https://developers.arcgis.com/labs/javascript/get-a-route-and-directions/" title="Get a route and directions">ver</a>)</small>
    </div>
    
    <div id="mapView"></div>
    
    <div id="sceneView"></div>
    
    <script src="https://js.arcgis.com/4.15/"></script>
    <script src="../js/22.js"></script>
  </body>
</html>